.headerHomepage {
  background-image: url("../public/Header-Homepage.png");
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 1rem;
}

#h1Header {
  width: 70%;
  text-align: center;
}

#pHeader {
  text-align: center;
}

#infoHeader h1 {
  font-size: 1.5rem;
}

#infoHeader p {
  font-size: 1rem;
}

.gradientBar {
  width: 20rem;
  height: 0.5rem;
  background: linear-gradient(to left, var(--secundary), var(--primary));
  margin-left: 0.5rem;
}

.home-page-offers {
  ul {
    list-style: none;
  }
}

.home-page-companies {
  ul {
    display: flex;
    list-style: none;
    list-style-position: inside;
    padding-top: 0.5rem;
    gap: 1rem;
  }
}
