.company-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.2rem;
}

/* ********************************************* */
.company-dashboard h1 {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.company-dashboard img {
  width: 5rem;
}
.general-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.box {
  display: flex;
  flex-direction: column;
  border: 1px var(--tertiary) solid;
  overflow: hidden;
  min-width: 40%;
}

.box h3 {
  background-color: var(--secundary);
  color: var(--light);
  margin: 0;
  padding: 1rem;
}
.box ul {
  padding: 1rem 0.1rem 1rem 0.5rem;
  & li {
    margin: 0.4rem;
  }
}

.display {
  display: flex;
  flex-direction: column;
}

.display button {
  width: auto;
  padding: 0.5rem 1rem;
  align-self: flex-end;
}
.display ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  list-style-position: inside;
}
.display p {
  padding: 1rem;
}

.company-dashboard h2 {
  position: relative;
  padding: 2rem 0 1rem 0;
}

.company-dashboard h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  right: 0;
  height: 0.2rem;
  background-color: var(--tertiary);
}

.actions {
  display: flex;
  justify-content: end;
  margin: 1rem 0.5rem 1rem 0;
  gap: 1rem;
}

.form-offer {
  display: flex;
  flex-direction: column;
}

/****************************************/
@media screen and (min-width: 768px) {
  .display > ul {
    flex-direction: row;
  }
}
