.company-dashboard form {
  margin-top: 2rem;

  & p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
  & img {
    max-height: 18vh;
    max-width: 80vw;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
}

.company-dashboard form label p {
  text-align: right;
}

.company-dashboard form input,
.company-dashboard form select,
.company-dashboard form textarea {
  width: 100%;
  margin: 0.6rem 0;
  padding: 0.6rem;
  border: 1px solid var(--tertiary);
  border-radius: 8px;
}

.company-dashboard form button {
  width: 38vw;
  align-self: flex-end;
}

.errorMessage {
  color: var(--message-error);
  font-size: 0.8rem;
  padding: 1rem 0;
}
