.error_allpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 3rem 0;
  height: 45vh;
  gap: 5rem;
}

.error_message {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .error_allpage {
    min-height: 63.5vh;
  }
  & .error_title {
    font-size: 3rem;
  }
}
