.containerAll_companies {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  & .offerGradientBar_companies {
    align-self: center;
    width: 80vw;
    height: 0.5rem;
    background: linear-gradient(to left, var(--secundary), var(--primary));
  }
  & .containerTop {
    margin: 2rem 0 2rem 0;
  }
}

@media screen and (min-width: 990px) {
  .containerAll_companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

    & .containerTop {
      margin-bottom: 3rem;
    }
    & .offerGradientBar_companies {
      margin-bottom: 2rem;
    }
  }
}
