footer {
  background-color: #1b1c23;
  color: white;
  text-align: center;
  padding: 2rem;
  & ul {
    list-style: none;
  }
  & img {
    width: 10rem;
    margin: 0.5rem;
    object-fit: contain;
  }
}

footer div ul li {
  margin: 1rem;
}

footer div a {
  text-decoration: none;
  color: white;
}

footer div ul li button {
  background: none;
}

@media screen and (min-width: 768px) {
  footer {
    & img {
      margin-right: 3rem;
    }
  }

  footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer div div {
    width: 2px;
    height: 8rem;
    background-color: var(--secundary);
  }

  footer div ul {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  footer div {
    justify-content: center;
    gap: 3rem;
  }

  footer div ul {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  footer div ul:first-of-type {
    margin-left: 0;
  }

  footer div ul:first-of-type > li {
    margin-left: 0;
  }
}
