* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
}

.LogoApp {
  width: 10rem;
  margin: 0.5rem;
}

.burgerCandidat {
  margin: 1rem;
}

.burgerButton {
  width: 2rem;
  height: 2rem;
}

.menuDroper {
  position: absolute;
  background-color: green;
  right: 0.5rem;
}

.menuDroper ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0.5rem;
}

.menuDroper ul li {
  color: white;
}
