.offer-card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 2rem auto;
  border: solid 1px var(--tertiary);
  & img {
    width: 100%;
  }
}

.offer-card img.offer-background {
  object-fit: cover;
  min-width: 100%;
  height: 20vh;
}

/*************************************************/
.header-card {
  display: flex;
  position: relative;
  top: -2rem;
  justify-content: space-between;
  align-items: end;
  margin-left: 1rem;
}

.header-card > img {
  width: 6rem;
  background-color: var(--light);
  border: solid 1px var(--tertiary);
}

.header-card > div {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.header-card div img {
  width: 2rem;
}
.header-card > div > p {
  padding: 0.5rem 0.5rem 0 0.5rem;
  font-size: 0.9rem;
  margin: 0;
}

/*************************************************/

.company-info {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1rem;
  margin-left: 1rem;
  flex: 1;
  & h3 {
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
    font-family: "Verdana", sans-serif;
  }
  & h3::after {
    display: none;
  }
  & ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    list-style-position: inside;
    padding-top: 0.2rem;
    gap: 0.1rem;
  }
  & li {
    padding-top: 0.5rem;
    font-size: 0.9rem;
  }
  & li:last-of-type {
    background-color: var(--tertiary);
    display: flex;
    width: fit-content;
    border-radius: 5px;
    padding: 0.2rem;
    margin-left: -0.2rem;
  }
  & li::before {
    content: none;
  }
}

.status {
  background-color: var(--tertiary);
  color: var(--primary);
  font-weight: 600;
  padding: 0.6rem;
  width: 95%;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
}

/*************************************************/
.offer-card .actions-buttons {
  display: flex;
  margin: 0.5rem;
  gap: 1rem;
  position: relative;
  bottom: 0;
  justify-content: space-around;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.offer-card .actions-buttons a {
  width: 50%;
}

/******************************************************/
@media screen and (min-width: 768px) {
  .offer-card {
    margin: 1rem;
    width: 35vw;
  }
}
