.dialog_login {
  background: none;
  margin: 0 auto;
  border: none;
  animation: openModal 0.2s linear;
  top: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;

  & form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: center;
    width: 70vw;
    height: 80vh;
    top: 10vh;
    padding: 1rem;
    position: relative;
    z-index: 21;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    & p {
      text-align: left;
    }

    & h2 {
      margin: 2rem 0;
    }
    & .login_buttons {
      display: flex;
      align-items: center;
      margin: 2rem 0 0 0;
    }

    & .colored-box {
      width: 16.8rem;
    }

    & .cancel-box {
      width: 16.8rem;
    }

    & .register_content {
      display: flex;
      margin-top: 3rem;
      gap: 2rem;
      font-size: .8rem;
    }

    & .register_button {
      background: none;
      font-weight: bold;
      color: var(--secundary);
      cursor: pointer;
    }

    & input {
      padding: 0.6rem;
      border-radius: 8px;
      border: var(--tertiary) 1px solid;
      position: relative;
    }
    & div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    & .password_input {
      display: flex;
      flex-direction: row;
      align-items: stretch; /* Assure que les éléments ont la même hauteur */
      width: 100%;
      margin: 0;
      border: var(--tertiary) 1px solid; /* Applique une seule bordure autour du conteneur */
      border-radius: 8px; /* Arrondi les coins du conteneur */
      overflow: hidden; /* Masque toute coupure interne entre les éléments */

      & .input_password {
        flex: 1; /* Prend tout l'espace disponible */
        border: none; /* Supprime la bordure de l'input */
        padding: 0.6rem; /* Ajuste le padding pour correspondre au style général */
        font-size: inherit;
      }

      & .show_password {
        display: flex;
        background: none;
        justify-content: center;
        align-items: center;
        border: none; /* Supprime la bordure du bouton */
        cursor: pointer;
        padding: 0.5rem;
        font-size: inherit;
      }
    }
  }
}

.dialog_login[open]::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 19;
}

.dialog_login:not([open]) {
  display: none;
}

@keyframes openModal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .dialog_login .login_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    & button {
      width: 10rem;
    }
  }
}
